.donate {
  background-color: #f6f6f6;
}

.donate__wrapper {
  box-sizing: border-box;
  display: flex;

  min-height: 435px;
}

.donate__img-block {
  width: 50%;
  padding-top: 89px;
}

.donate__img {
  padding-left: 17px;
}

.donate__text-content {
  box-sizing: border-box;
  width: 50%;
  padding-top: 64px;
  padding-right: 200px;
}

.donate__heading {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  font-family: "Georgia", sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.2px;
}

.donate__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: "Georgia", serif;
  color: #545454;
  letter-spacing: 1px;
}

.donate__link {
  position: relative;
  margin-bottom: 28px;
  padding-left: 57px;
  padding-right: 12px;

  line-height: 46px;
  letter-spacing: 1.7px;

  border-radius: 8px;

  &--icon::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 11px;
    width: 37px;
    height: 24px;

    background-image: url("../img/credit-card.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.donate__description {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-style: italic;
  color: #b2b2b2;
}
