.help-shelter__heading {
  margin: 0;
  margin: auto;
  margin-bottom: 45px;
  padding: 0;
  max-width: 350px;

  font-family: "Georgia", sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.6px;
  text-align: center;
}

.help-shelter__list {
  list-style: none;

  display: flex;
  justify-content: space-around;

  margin: 0;
  margin-bottom: 78px;
  padding: 0;

  &--width-small {
    max-width: 970px;
    margin: auto;
    margin-bottom: 78px;
  }
}

.help-shelter__item {
  box-sizing: border-box;

  width: 180px;

  text-align: center;
}

.help-shelter__item svg {
  fill: #f1cdb3;
}
