.our-pets {
  padding-top: 73px;
  padding-bottom: 70px;
  margin-bottom: 63px;

  text-align: center;

  background-color: #f6f6f6;
}

.our-pets-page .our-pets {
  padding-top: 61px;
  padding-bottom: 61px;
  margin-bottom: 0;
}

.our-pets-page .our-pets__heading {
  margin-bottom: 58px;
}

.our-pets__heading {
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.2px;
}
