.page-preview {
  min-height: 925px;
  margin-top: -117px;
  margin-bottom: 113px;

  background-image: url("../img/page-preview@1x.jpg");
  background-color: #262424;
  background-position: center;
  background-repeat: no-repeat;
}

.page-preview__heading {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 352px;
  max-width: 350px;

  font-size: 44px;
  line-height: 57px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2.6px;
}

.page-preview__text {
  max-width: 460px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  color: #cdcdcd;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
